/* MOBILE VERSION */

  .navbar {
    background-color: black;
    box-shadow: 2px 5px 5px rgb(100, 100, 100);
  }

  .navbar-brand {
    color: white;
  }

  .form-control {
    background-color: black;
    width: 260px;
    
  }

  .jumbotron {
    background-image: url(img/coverkmobile.jpeg);
    background-size: cover;
    height: 400px;
  }

  #iklan {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    margin-top: -35px;
  }

  #iklan p {
    margin-top: 50px;
    margin-bottom: 70px;
    font-size: 9px;
    text-align: center;
    color: white;
  }

  #akun {
    background-color: black;
    text-align: center;
  }

  #akun h1 {
    margin-top: 35px;
    margin-bottom: 35px;
    text-shadow: 2px 2px 5px rgb(100, 100, 100);
    color: white;
  }

  #akun a {
    margin-bottom: 10px;
  }

  #akun p {
    color: white;
  }

  #joki {
    background-color: royalblue;
    text-align: center;
  }

  #joki h1 {
    margin-top: 50px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  }

  #joki a {
    margin-bottom: 10px;
  }

  #skin {
    background-color: darkcyan;
    text-align: center;
  }

  #skin h1 {
    margin-top: 50px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  }

  #skin a {
    margin-bottom: 10px;
  }

  #post h1 {
    margin-top: 50px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  }

  #post a {
    margin-bottom: 10px;
  }

  #post {
    background-color: lightcoral;
    text-align: center;
  }

  #post h1 {
    margin-top: 150px;
    margin-bottom: 50px;
  }

  #post p {
    text-align: justify;
    color: black;
    margin-bottom: 100px;
    font-size: large;
  }


/* DEKSTOP VERSION */
@media (min-width: 992px) {
  .navbar {
    background-color: black;
    box-shadow: 2px 5px 5px rgb(100, 100, 100);
  }
  .navbar-brand {
    color: white;
  }

  .jumbotron {
    background-image: url(img/cover18.jpeg);
    background-size: cover;
    height: 680px;
    margin-top: 3px;
  }

  #iklan {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    margin-top: -35px;
  }

  #iklan p {
    margin-top: 50px;
    margin-bottom: 70px;
    font-size: 15px;
    text-align: center;
    color: white;
  }

  #akun {
    background-color: black;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(100, 100, 100);
  }

  #akun h1 {
    margin-top: 35px;
    margin-bottom: 35px;
    text-shadow: 2px 2px 5px rgb(100, 100, 100);
    color: white;
  }

  #akun a {
    margin-bottom: 50px;
  }

  #akun p {
    color: white;
  }

  #joki {
    background-color: royalblue;
    text-align: center;
  }

  #joki h1 {
    margin-top: 50px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  }

  #joki a {
    margin-bottom: 50px;
  }

  #skin {
    background-color: darkcyan;
    text-align: center;
  }

  #skin h1 {
    margin-top: 50px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  }

  #skin a {
    margin-bottom: 50px;
  }

  #post h1 {
    margin-top: 50px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  }

  #post {
    background-color: lightcoral;
    text-align: center;
  }

  #post h1 {
    margin-top: 150px;
    margin-bottom: 50px;
  }

  #post p {
    text-align: justify;
    color: black;
    margin-bottom: 100px;
    font-size: large;
  }
}
/* AKHIR DEKSTOP VERSION */
